<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>alfred2-dictcc-lookup</string>
	<key>connections</key>
	<dict>
		<key>814B25C9-6595-4B79-B34E-D8CDC054C49F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC357C98-4ADD-465E-A777-10DAE625E848</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Achim Passen</string>
	<key>description</key>
	<string>Achim Passen</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>dict.cc Lookup</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dict</string>
				<key>runningsubtext</key>
				<string>Looking up "{query}" at dict.cc …</string>
				<key>script</key>
				<string>./dict "{query}"</string>
				<key>subtext</key>
				<string>Look up "{query}" at dict.cc</string>
				<key>title</key>
				<string>dict.cc Lookup</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>814B25C9-6595-4B79-B34E-D8CDC054C49F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FC357C98-4ADD-465E-A777-10DAE625E848</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>814B25C9-6595-4B79-B34E-D8CDC054C49F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FC357C98-4ADD-465E-A777-10DAE625E848</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/achim/alfred2-dictcc-lookup</string>
</dict>
</plist>
